<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to the board, <%= @passenger.name %></h1>
    <p>
      Your ticket has been booked successfully<br>
    </p>
    <p>
      You can click <%= link_to "here", booking_url(@booking) %> to see your reservation
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
