<div>Thank you for flighting with us, <%= @ticket.passenger_name %> !</div>

<div>Your ticket has been booked successfully</div>

<div>If you are the creator of the booking, you can click <%= @url %> to see it</div>